<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.sp.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="./static/style.css" media="screen and (min-width:769px)">

    <title>Document</title>
</head>

<body>

    <header>
        <ul>
            <li><a href="index.html">Level 1</a> </li>
            <li><a href="second.html">Level 2</a></li>
            <li><a href="third.html">Level 3</a></li>
            <li><a href="fourth.html">Level 4</a></li>
            <li><a href="fifth.html">Level 5</a></li>
        </ul>
    </header>
    
    <div class="title">
        <h1>日本語検定 N1</h1>
        <h2>Level 1</h2>
    </div>

    <div id="app" class="all">
        <div class="hamburger-btn" v-on:click='ActiveBtn=!ActiveBtn'>
            <span class="line line_01" v-bind:class="{'btn_line01':ActiveBtn}"></span>
            <span class="line line_02" v-bind:class="{'btn_line02':ActiveBtn}"></span>
            <span class="line line_03" v-bind:class="{'btn_line03':ActiveBtn}"></span>
        </div>
        <transition name="menu">
        <div class="menu" v-show="ActiveBtn">
            <ul>
                <li><a href="index.html">Level 1</a> </li>
                <li><a href="second.html">Level 2</a></li>
                <li><a href="third.html">Level 3</a></li>
                <li><a href="fourth.html">Level 4</a></li>
                <li><a href="fifth.html">Level 5</a></li>
            </ul>
        </div>
        </transition>
        <div class = "question-wrapper" v-if ="!completed">
        <div class="question-title">
            <p>第{{ (questionIndex+1) }}問</p>
            <h3>{{ currentQuestion.question }}</h3>
            <hr>
        </div>
        
        <div class="select-answer">
            <button 
                type ="button" 
                class="btn"
                v-for="(answer,index) in currentQuestion.answers"
                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        
        </div>
        </div>


        <div class="answer-wrapper" v-if="completed">
            <div class="answer-sheet">
                <h1>結果</h1>
                <div v-for="(question,index) in this.questions">
                    <h2 class="answer-title"><br>{{ index+1 }}. {{ question.question }}</h2>
                    <div class="answer-answer">
                    <ul>
                        <li>{{ answers.answer }}</li>
                        <!--<li v-for="answer in question.answers">{{ answer }}</li>-->
                    </ul>
                    <p v-if="question.answer == answers[index]">正解&#x1f919;<br>{{ question.answers[question.answer] }}</p>
                    <p v-else>不正解&#x1f44e;<br>正解は[{{ question.answers[question.answer] }}]でした。<br></p>
                    </div>
                </div>
                <button onclick="location.href='./second.html'" class="button">Go to Next Level</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue.js"></script>

</body>
</html>