@charset "UTF-8";
html {
	overflow-y: scroll;
}

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

.hum_menu {
    display: none;
}
header {
    height: 100px;
    text-align: center;
    background-color: cornflowerblue;
}
header li {
    list-style: none;
    float: left;
    width: 20%;
    margin-top: 30px;
    font-size: 20px;
}

header li a {
    text-decoration: none;
    color: cornsilk;
}

.title {
    margin-top: 50px;
    text-align: center;
    height: 150px;
}

.title h1{
    font-size: 44px;
}

.title h2{
    font-size: 34px;
}

.all {
    text-align: center;
    margin-top: 30px;
}

.question-title {
    height: 150px;
}

.question-title p {
    margin-bottom: 10px;
    font-size: 20px;
}

.question-title h3 {
    margin-bottom: 10px;
    font-size: 32px;
}

.select-answer {
    display: flex;
    flex-direction: column;
    height: 150px;
    
}

.btn {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.answer-answer li {
    font-size: 20px;
}

.answer-answer p {
    font-size: 20px;
}

.answer-title {
    margin-top: 30px;
}

.answer-sheet .button{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;

}